 ￼
# general things to ignore
.Python
.eggs/
.installed.cfg
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
pip-wheel-metadata/
share/python-wheels/
sdist/
wheels/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache
.pytest_cache/

# Environments
env/
venv/

# IDEs
.idea

# Installer logs
pip-log.txt
